body {
	background: url('img/wood.jpg')top / 100% no-repeat fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #000365;
	font-size: 87.5%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
}
a{
	text-decoration:none;
}
a:link, a:visted{
	background-color: rgba(102,102,0,0.66);
}

a:hover, a:active{
	background-color: rgba(102,102,0,0.66);
	color: #FFF;
}
.headingImg{
	margin-top:-3%;
	height:auto%;
	width:100%;
	
}
.body{
	margin: auto;
	width: 70%;
	clear: both;
	margin-top: 15px;
}
.mainHeader img{
	width: 30%;
	height: auto;
	margin: 2% 0;
}
.mainHeader nav{
	background-color: rgba(102,153,0,0.66);
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;
	
}
.mainHeader nav ul li{
	float: left;
	display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: rgba(0,102,0,0.66);
	text-shadow: none;
}
.mainHeader nav ui li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.content{
	width: 70%;
	float: left;

}
.topContent{
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.bottomContent{
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.post-info{
	font-style: italic;
	color: #999;
	font-size: 85%;
}
.top-sidebar{
	width: 21%;
	float: left;
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	margin-top: 1.5%;
	padding: 2% 3%;
}
.middle-sidebar{
	width: 21%;
	float: left;
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
}
.bottom-sidebar{
	width: 21%;
	float: left;
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
}
.mainFooter{
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(102,153,0,0.66);
	margin: 2% 0;
}
.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #FFF;
}
/* ---- Menu Page --- */
.menuContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.menu{
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.menuStart{
	
	width: 70%;
	background-color: rgba(133,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.menuHeading{
	float:center;
}
.price{
	margin-top: -2.5%;
	float:right;
	display:inline;
}


/* Contact us page */
.contentDetails{
	width: 100%;
	float: left;
}
.contactDetails{
	background-color: rgba(225,225,102,0.66);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 1%;
}
.googleMap {
	margin-top: 10%;
	position:relative;
	width:500px;
	height:380px;
}
@media only screen and (min-width: 150px) and (max-width: 600px) {
	.body{
		width: 90%;
		font-size: 95%;
		}
	.mainHeader img{
		width: 100%;
	}
	.mainHeader nav{
		height: 160px;
	}
	.mainHeader nav ul{
	 padding: 0;		
	}
	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}
	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
		display: block;
	}
	
	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	.post-info{
		display: none;
	}
	.topContent{
	
		padding: 3% 5%;
		margin-bottom: 3%;
	}
	.bottomContent{
		
		margin-top: 3%;
	}
	.top-sidebar, .middle-sidebar, .bottom-sidebar{
		width: 94%;
		float: left;
		margin: 2% 0 2% 0;
		padding: 1.5% 3%;
	}
	.googleMap {
	
	width:350px;
	height:210px;
}

}